.deck-container {
	.deck-audio-container {
		position: absolute;
		background: #222; // dark gray
		color: #EEE; // offwhite
		border-radius: 5px;
	}
	.deck-audio-control {

	}
	.deck-audio-captions {
		width: 90%;
		bottom: 1%;
		left: 0;
		margin: 0 5%;
		.deck-audio-caption {
			margin: 0;
		}
	}
}

@media print {
	.deck-audio-control {
		display: none;
	}
}
